/* montserrat-alternates-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-alternates-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-alternates-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-alternates-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-alternates-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-alternates-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-alternates-900 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --ff-1: "Montserrat Alternates", sans-serif;
  --col-1: #464045;
  --col-2: #FFFFFF;
  --col-3: #FCC53B;
  --col-4: #FA9600;
  --col-5: #F5F5F5;
  --col-6: #547DFF;
  --soc-1: #6F3FAA;
  --soc-2: #34CA00;
  --soc-3: #43B4F3;
  --soc-4: #A10FE5;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-style: normal;
  font-family: var(--ff-1);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: var(--col-1);
  position: relative;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

@-webkit-keyframes show-header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show-header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(4, 35px);
  gap: 16px;
  justify-content: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.social-list__link {
  display: flex;
}
.social-list__link path {
  transition: all 0.2s;
}
.social-list__link:hover svg path {
  fill: var(--col-3);
}
.social-list__link--viber:hover svg path {
  fill: var(--soc-1);
}
.social-list__link--whatsapp:hover svg path {
  fill: var(--soc-2);
}
.social-list__link--telegram:hover svg path {
  fill: var(--soc-3);
}
.social-list__link--instagram:hover svg path {
  fill: var(--soc-4);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--col-3);
  color: var(--col-1);
  text-decoration: none;
  cursor: pointer;
  border: 2px solid;
  border-color: var(--col-3);
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  padding: 20px;
  min-height: 60px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: 0.2s;
  text-transform: uppercase;
}
.button:hover {
  background-color: var(--col-4);
  border-color: var(--col-1);
}
@media (max-width: 1024px) {
  .button {
    padding: 10px;
    min-height: 45px;
    font-size: 12px;
  }
}

.button-menu {
  display: none;
}
@media (max-width: 1024px) {
  .button-menu {
    position: relative;
    height: 45px;
    width: 45px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: 2px solid;
    border-color: var(--col-2);
    display: flex;
    transition: all 0.3s;
  }
  .button-menu span,
.button-menu span::after,
.button-menu span::before {
    position: absolute;
    height: 2px;
    background-color: var(--col-2);
    width: 32px;
    transition: all 0.3s;
  }
  .button-menu span::after,
.button-menu span::before {
    content: "";
    display: block;
  }
  .button-menu span::before {
    transform: translateY(-11px);
  }
  .button-menu span::after {
    transform: translateY(11px);
  }
}
@media (max-width: 768px) {
  .button-menu {
    border-width: 1px;
  }
  .button-menu span,
.button-menu span::after,
.button-menu span::before {
    height: 1px;
  }
}

.wrapper {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 1024px) {
  .wrapper {
    width: 100%;
    padding: 0 15px;
  }
}

.title {
  display: block;
  font-family: var(--ff-1);
  font-weight: 800;
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  color: var(--col-1);
  margin: 0;
  margin-bottom: 16px;
}
.title--big {
  font-size: 74px;
  line-height: 1.1;
  margin-bottom: 32px;
}
.title--small {
  font-weight: 700;
  font-size: 34px;
}
@media (max-width: 1440px) {
  .title--big {
    font-size: 62px;
  }
  .title--small {
    font-size: 28px;
  }
}
@media (max-width: 1024px) {
  .title--big {
    font-size: 46px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 34px;
  }
  .title--big {
    font-size: 34px;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 30px;
  }
  .title--big {
    font-size: 30px;
    margin-bottom: 16px;
  }
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
  display: block;
  text-transform: uppercase;
  color: var(--col-1);
  text-align: center;
  margin-bottom: 40px;
}
.subtitle--big {
  font-size: 20px;
  text-transform: none;
}
@media (max-width: 1024px) {
  .subtitle--big {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .subtitle--big {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .subtitle--big {
    font-size: 14px;
  }
}

.section {
  padding: 60px 0;
}
.section .title {
  text-align: center;
  margin-bottom: 16px;
}

.card {
  background-color: var(--col-2);
  color: var(--col-1);
}
.card .title {
  margin-bottom: 32px;
}
.card .button {
  width: 100%;
  max-width: 415px;
  margin: 0 auto;
}
.card__top img {
  display: block;
  width: 100%;
}
.card__bottom {
  padding: 32px 45px 50px;
  border: 1px solid;
  border-color: var(--col-1);
  border-top: none;
}
.card__text {
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
}
.card__item {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
}
.card__time {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.6;
  display: block;
  text-align: center;
  color: var(--col-6);
}
.card__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  position: relative;
  margin-bottom: 32px;
}
.card__list:after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: var(--col-1);
  position: absolute;
  left: 50%;
  opacity: 0.3;
}
@media (max-width: 1440px) {
  .card .title {
    margin-bottom: 16px;
  }
  .card__bottom {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
  .card__list {
    margin-bottom: 16px;
  }
  .card__text {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .card__item {
    font-size: 16px;
  }
  .card__time {
    font-size: 30px;
  }
}
@media (max-width: 1024px) {
  .card {
    margin-bottom: 40px;
  }
  .card .title {
    font-size: 34px;
  }
  .card__item {
    font-size: 22px;
    text-transform: initial;
  }
  .card__time {
    display: initial;
    font-size: inherit;
    line-height: inherit;
  }
}
@media (max-width: 768px) {
  .card .title {
    font-size: 24px;
  }
  .card__list {
    display: block;
  }
  .card__list:after {
    display: none;
  }
}

.header {
  font-family: var(--ff-1);
  color: var(--col-2);
  position: absolute;
  z-index: 10;
  width: 100%;
}
.header__content {
  display: flex;
  gap: 32px;
  align-items: center;
  padding-top: 20px;
  justify-content: space-between;
  padding-bottom: 21px;
  z-index: 12;
}
.header__left {
  width: 520px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__logo {
  display: block;
  width: 190px;
}
.header__logo--black {
  display: none;
  opacity: 0;
}
.header__logo--wh {
  display: block;
  opacity: 1;
}
.header__text {
  width: 305px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: inherit;
}
.header__center {
  width: 415px;
  display: flex;
  align-items: center;
  gap: 12px 32px;
}
.header__social {
  width: 190px;
}
.header__tel-wrapper {
  flex-basis: 165px;
  flex-grow: 2;
  color: inherit;
}
.header__tel {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  color: inherit;
  display: block;
  text-decoration: none;
  transition: all 0.3s;
}
.header__tel:hover {
  color: var(--col-3);
}
.header__right {
  width: 305px;
  justify-self: flex-end;
}
.header__button {
  width: 100%;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  color: inherit;
}
.header__nav-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s;
}
@media (hover: hover) {
  .header__nav-link {
    padding-bottom: 6px;
  }
  .header__nav-link::after {
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--col-2);
    position: absolute;
    transition: all 0.3s;
  }
  .header__nav-link:hover {
    color: var(--col-3);
  }
  .header__nav-link:hover::after {
    width: 100%;
    background-color: var(--col-3);
  }
}
@media (max-width: 1440px) {
  .header__content {
    gap: 16px;
  }
  .header__left {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    display: block;
  }
  .header__text {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header__content {
    gap: 12px;
    padding: 10px 0;
  }
  .header__logo {
    width: auto;
    height: 50px;
  }
  .header__text {
    display: block;
    width: 205px;
    font-size: 12px;
  }
  .header__left {
    display: flex;
    gap: 12px;
  }
  .header__social {
    display: none;
  }
  .header__center {
    display: block;
    width: initial;
  }
  .header__right {
    display: grid;
    gap: 16px;
    align-items: center;
    grid-template-columns: 160px 45px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .header__tel {
    font-size: 16px;
  }
  .header__button {
    background-color: transparent;
    border-color: var(--col-2);
    color: var(--col-2);
  }
  .header__nav {
    position: absolute;
    left: 0;
    right: 0;
    background: var(--col-2);
    color: var(--col-1);
    min-height: calc(100vh - 70px);
    width: 100%;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-120%);
  }
  .header__nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
  .header__nav-link {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .header__center {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header__right {
    display: block;
  }
}
@media (max-width: 450px) {
  .header__text {
    display: none;
  }
}

.first-scr {
  background-color: var(--col-1);
  color: var(--col-2);
  min-height: 100vh;
  background-image: url(../img/bg-first-scr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 12% 0 8%;
}
.first-scr::after {
  background: linear-gradient(0deg, rgba(38, 33, 29, 0.6), rgba(38, 33, 29, 0.6));
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  inset: 0;
}
.first-scr__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.first-scr .title {
  color: inherit;
}
.first-scr .subtitle {
  color: inherit;
  margin-bottom: 70px;
}
.first-scr__text {
  color: inherit;
  display: block;
  margin-bottom: 16px;
  font-size: 20px;
}
.first-scr__text span {
  font-weight: 400;
}
.first-scr__button {
  min-width: 355px;
}
@media (max-width: 1440px) {
  .first-scr {
    background-image: url(../img/bg-first-scr-1440.jpg);
  }
}
@media (max-width: 1024px) {
  .first-scr {
    background-image: url(../img/bg-first-scr-1024.jpg);
    min-height: 670px;
  }
  .first-scr__text {
    font-size: 18px;
  }
  .first-scr__button {
    min-width: 300px;
  }
}
@media (max-width: 768px) {
  .first-scr {
    background-image: url(../img/bg-first-scr-768.jpg);
    min-height: 570px;
    padding: 20% 0 10%;
  }
  .first-scr__text {
    font-size: 16px;
  }
  .first-scr__button {
    min-width: 260px;
  }
}
@media (max-width: 425px) {
  .first-scr {
    background-image: url(../img/bg-first-scr-375.jpg);
  }
  .first-scr .subtitle {
    margin-bottom: 42px;
  }
  .first-scr__text {
    font-size: 14px;
  }
}

.trips-chart {
  /* @media (max-width: 768px) {
    grid-template-columns: 1fr;

  } */
}
.trips-chart__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 1024px) {
  .trips-chart__list {
    display: initial;
    max-width: 640px;
    margin: 0 auto;
  }
}

.menu-show {
  overflow: hidden;
}
.menu-show .header {
  background-color: var(--col-2);
  color: var(--col-1);
}
.menu-show .header__button {
  color: var(--col-1);
  border-color: var(--col-1);
  background-color: transparent !important;
}
.menu-show .header__logo--wh {
  display: none;
  opacity: 0;
}
.menu-show .header__logo--black {
  display: block;
  opacity: 1;
}
.menu-show .button-menu {
  border-color: var(--col-1);
}
.menu-show .button-menu span,
.menu-show .button-menu span::after,
.menu-show .button-menu span::before {
  background-color: var(--col-1);
}
.menu-show .button-menu span {
  background-color: rgba(0, 0, 0, 0);
}
.menu-show .header__nav {
  opacity: initial;
  pointer-events: initial;
  transform: translateY(0);
}
.menu-show .button-menu span {
  background-color: rgba(0, 0, 0, 0);
}
.menu-show .button-menu span::before {
  transform: rotate(45deg);
  top: 0;
  width: 100%;
}
.menu-show .button-menu span::after {
  transform: rotate(-45deg);
  top: 0;
  width: 100%;
}

.header-fixed .header {
  background-color: var(--col-2);
  color: var(--col-1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  -webkit-animation-name: show-header;
          animation-name: show-header;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  padding: 21px 0;
}
.header-fixed .header__content {
  display: none;
}
.header-fixed .header__button {
  color: var(--col-1);
  border-color: var(--col-1);
  background-color: transparent !important;
}
.header-fixed .header__logo--wh {
  display: none;
  opacity: 0;
}
.header-fixed .header__logo--black {
  display: block;
  opacity: 1;
}
.header-fixed .social-list__link svg path {
  fill: var(--col-1);
}
.header-fixed .button-menu {
  border-color: var(--col-1);
}
.header-fixed .button-menu span,
.header-fixed .button-menu span::after,
.header-fixed .button-menu span::before {
  background-color: var(--col-1);
}
.header-fixed.menu-show .button-menu span {
  background-color: rgba(0, 0, 0, 0);
}
@media (max-width: 1024px) {
  .header-fixed .header {
    padding: 0;
  }
  .header-fixed .header__content {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */