.trips-chart {

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  @media (max-width: 1024px) {
    &__list {
      display: initial;
      max-width: 640px;
      margin: 0 auto;
    }
  }

  /* @media (max-width: 768px) {
    grid-template-columns: 1fr;

  } */
}