:root {
  --ff-1: 'Montserrat Alternates', sans-serif;
  --col-1: #464045;
  --col-2: #FFFFFF;
  --col-3: #FCC53B;
  --col-4: #FA9600;
  --col-5: #F5F5F5;
  --col-6: #547DFF;
  

  --soc-1: #6F3FAA;
  --soc-2: #34CA00;
  --soc-3: #43B4F3;
  --soc-4: #A10FE5;

  
  
}