.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--col-3);
  color: var(--col-1);
  text-decoration: none;
  cursor: pointer;
  border: 2px solid;
  border-color: var(--col-3);
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  padding: 20px;
  min-height: 60px;
  width: max-content;
  transition: 0.2s;
  text-transform: uppercase;

  &:hover {
    background-color: var(--col-4);
    border-color: var(--col-1);
  }

  @media (max-width: 1024px) {
    padding: 10px;
    min-height: 45px;
    font-size: 12px;
  }
}