.title {
  display: block;
  font-family: var(--ff-1);
  font-weight: 800;
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  color: var(--col-1);
  margin: 0;
  margin-bottom: 3px;

  &--big {
    font-size: 74px;
    line-height: 1.1;
    margin-bottom: 32px;
  }

  @media (max-width: 1440px) {
    &--big {
      font-size: 62px;
    }
  }
  @media (max-width: 1024px) {
    &--big {
      font-size: 46px;
    }
  }
  @media (max-width: 768px) {
    &--big {
      font-size: 34px;
    }
  }
  @media (max-width: 425px) {
    &--big {
      font-size: 30px;
      margin-bottom: 16px;
    }
  }
}